name: Build, package and release ungoogled-chromium
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  prepare:
    runs-on: macos-15
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Disable Spotlight
        run: sudo mdutil -a -i off
      - name: Install dependencies
        run: ./install_dependencies.sh
      - name: Start freeing up storage
        run: ./free_storage.sh &
      - name: Prepare resources
        run: ./prepare_resources.sh
      - name: Upload resources
        uses: actions/upload-artifact@v4
        with:
          name: resources_arm64
          compression-level: 0
          path: resources.tar.zst

  stage-1:
    needs: [prepare]
    runs-on: macos-15
    defaults:
      run:
        shell: bash
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Disable Spotlight
        run: sudo mdutil -a -i off
      - name: Install dependencies
        run: ./install_dependencies.sh
      - name: Start freeing up storage
        run: ./free_storage.sh &
      - name: Download resources
        uses: actions/download-artifact@v4
        with:
          name: resources_arm64
      - name: Unpack resources
        run: tar -xf resources.tar.zst
      - name: Prepare GHCI build strategy
        run: |
          GHCI_STRATEGY_PATH="$PWD/ghci-util/ghci-strategy.sh"
          cd ungoogled-chromium-macos/build/src/out/Default
          "$GHCI_STRATEGY_PATH" 10 chrome
          find . -type f -name \*.ninja.orig -delete
      - name: Stage 1 build
        run: |
          exec 2>&1; set -o pipefail
          cd ungoogled-chromium-macos/build/src
          (set -x; ninja -C out/Default -f ghci-stage1.ninja ghci-stage1)
          cd out/Default
          mv -f .ninja_log ghci-stage1.ninja_log
      - name: Tar up the workspace
        run: |
          exec 2>&1; set -o pipefail
          tar -c -f - . | zstd -vv -11 -T0 -o stage1.tar.zst
      - name: Save the workspace for stage 2
        uses: actions/upload-artifact@v4
        with:
          name: stage1
          compression-level: 0
          path: stage1.tar.zst
          if-no-files-found: error
          retention-days: 1

  stage-2:
    needs: [prepare, stage-1]
    strategy:
      matrix:
        part: [1, 2, 3, 4, 5]
    uses: ./.github/workflows/split.yml
    with:
      part: ${{matrix.part}}
      stage: "2"

  # This is just a continuation of stage 2, necessitated by the concurrency limit of 5 for macOS runners.
  stage-3:
    needs: [prepare, stage-1, stage-2]
    strategy:
      matrix:
        part: [6, 7, 8, 9, 10]
    uses: ./.github/workflows/split.yml
    with:
      part: ${{matrix.part}}
      stage: "3"

  stage-4:
    needs: [prepare, stage-1, stage-2, stage-3]
    runs-on: macos-15
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Disable Spotlight
        run: sudo mdutil -a -i off
      - name: Install dependencies
        run: ./install_dependencies.sh
      - name: Start freeing up storage
        run: ./free_storage.sh &
      - name: Download the workspace and partial build tree tarballs
        uses: actions/download-artifact@v4
      - name: Unpack the tarballs
        run: |
          exec 2>&1
          for tarball in \
            stage1/stage1.tar.zst \
            stage2-part*/stage2-part*.tar.zst \
            stage3-part*/stage3-part*.tar.zst
          do
            (set -x; tar -xf $tarball -k)
            rm $tarball
          done
          rmdir stage1 stage2-part* stage3-part*
      - name: Stage 4 build
        run: |
          DMG_PATH="$PWD/ungoogled-chromium.dmg"
          cd ungoogled-chromium-macos/build/src
          (set -x; ninja -C out/Default chrome)
          codesign --force --deep --sign - out/Default/Chromium.app
          chrome/installer/mac/pkg-dmg \
            --sourcefile --source out/Default/Chromium.app \
            --target "$DMG_PATH" \
            --volname Chromium --symlink /Applications:/Applications \
            --format UDBZ --verbosity 2
      - name: Upload DMG
        uses: actions/upload-artifact@v4
        with:
          name: ungoogled-chromium
          path: ungoogled-chromium.dmg
